extends layout

block content
  <div class = 'game_info' id = "table_4">
  <h4>player name:<input class="un" type="text" align="left" id ="in_game_username" value="username">
  <h5>win--lose--tie:<input class="un_2" type="text" align="center" id ="win_score" value="0">
  <input class="un_2" type="text" align="center" id ="lose_score" value="0">
  <input class="un_2" type="text" align="center" id ="tie_score" value="0">
  <button class = "log_out" id = "log_out">log out</button>
  </div>

  <div class="play_page" id = "table_3">
  <p class="sign" align="center" >DECK</p>
  <button class="button" id = "win_btn">win</button>
  <button class="button_2" id = "lose_btn">lose</button>
  <button class="button_3" id = "tie_btn">tie</button>
  
  </div>

   <div class="main" id = "table_2">
   <p class="sign" align="center" >Sign up</p>
   <form class="form1" onSubmit="return false;">
   <p class="small_l" align="center" >enter username</p>
   <input class="un " type="text" align="center" id = "sg_up_us" value="Username">
   <p class="small_l" align="center" id = "text_0">enter password</p>
   <input class="un " type="password" align="center" id = "sg_up_ps" value="Password">
   <p class="small_l" align="center" >please enter you passwork again to ensure correctness</p>
   <input class="un " type="password" align="center" id ="sg_up_ps_2" value="pass">
   <a class="submit" align="center" id = "submit_sg_up">submit</a>  
    </div>

  <div class="main" id = "table_1">
  <p class="sign" align="center" id = "text_0">Sign in</p>
  <form class="form1" onSubmit="return false;">
  <input class="un " type="text" align="center" id = "sg_in_us" value="Username">
  <input class="un " type="password" align="center" id = "sg_in_ps" value="Password">
  <a class="submit" align="center" id = "sin_btn">Sign in</a>
  <br>
  <br>
  <br>
  <br>
  <a class="submit" align="center" id = "sup_btn">Sign Up</a>
  </div>
